beautifulsoup4==4.4.1
click==6.6
Flask==0.11.1
Flask-Script==2.0.5
itsdangerous==0.24
jac==0.16
Jinja2==2.8
MarkupSafe==0.23
ordereddict==1.1
rjsmin==1.0.12
six==1.10.0
Werkzeug==0.11.11
wheel==0.24.0
